################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FileRemover/.vs/FileRemover
/FileRemover/FileRemover/obj
